body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #CA4548;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
}
.reservation-button {
    height: 50px;
    margin: 10px;
    width: 80%;
    font-size: 1em;
}

.reservation-times {
    margin-top: 20px;
    height: 30px;
    width: 80px;
    font-size: 1em;
}

h1 {
    font-family: sans-serif;
    color: white;
}

input {
    font-size: 1em;
}
.container {
    width: 500px;
    height: 100%;
    padding: 20px;
    background: rgb(189, 189, 189);
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#signup-form {
    padding: 20px;
    font-family: sans-serif;
}

.signup-form-input {
    padding: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup-form-input > input {
    padding: 10px;
    width: 70%;
}
.signup-form-button {
    height: 40px;
    font-size: 1em;
}